body {
	background: url(images/bg.jpg);
}

.weather_output {
	text-align: center;
	display: block;
	width: 240px;
	padding: 50px;
	border: 1px solid black;
	margin: 10% auto;
}

.temp {
	font-size: 5em;
}